body, input {
	color: #eee;
	background: #000;
	border: none;
}

.wrapper {
	position: absolute;

	height: 100%;
	width: 100%;

	border: 2px #eee;
}

.chat-window {
	padding: 0 5%;
	margin-top: 5%;
}

ul.chat-window-messages {
	width: 100%;
	
}

ul.chat-window-messages li {
	display: block;
	position: relative;
/* 	bottom: -webkit-calc(-100% + 40px);
    bottom:calc(-100% + 40px); */
}

ul.chat-window-messages li span.chat-username {
	padding-right: 10px;
}

ul.chat-window-messages li span.chat-message {
	padding-left: 10px;
}

form.own-chat-bar {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.own-chat-username {
	width: 5%;
}

input.own-chat-message {
	width: 95%;
	
	border: 1px solid #eee;
	/* outline: 1px solid #eee */
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
