body, input {
	color: #eee;
	background: #000;
	border: none;
}

.wrapper {
	margin: auto;
	vertical-align: middle;

	height: 75%;
	width: 75%;

	border: 2px #eee;
}

.chat-window {
	height: 50%;
}



form.chat-message {
	width: 100%;
}

span.chat-username {
	width: 10%;
}

.chat-message input {
	width: 80%;
	
	border: 1px solid #eee;
	/* outline: 1px solid #eee */
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}